
<!DOCTYPE html>
{% load static %}
<html>

  <head>
    <meta charset="UTF-8">
    <title>celery</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/xadmin.css' %}">
    <link rel="icon" href="{% static 'images/zlkt.ico' %}" type="image/x-icon"/>
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'lib/layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/xadmin.js' %}"></script>
  </head>

  <body>
    <div class="x-body">
        <form class="layui-form">
          <div class="layui-form-item">
              <label for="task_name" class="layui-form-label">
                  <span class="x-red">*</span>任务名称
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="task_name" name="task_name"
                  autocomplete="off" class="layui-input">
              </div>
              <div class="layui-form-mid layui-word-aux">
                  <span class="x-red">*</span>代码中的任务名
              </div>
          </div>

            <div class="layui-form-item">
                <label for="task_desc" class="layui-form-label">
                    任务路径
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="task_path" name="task_desc"
                           autocomplete="off" class="layui-input">
                </div>

                <div class="layui-form-mid layui-word-aux">
                    <span class="x-red">*</span>如:task.task1
                </div>
            </div>


          <div class="layui-form-item">
              <label for="task_desc" class="layui-form-label">
                  任务描述
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="task_desc" name="task_desc"
                  autocomplete="off" class="layui-input">
              </div>
          </div>

          <div class="layui-form-item">
              <label for="task_user" class="layui-form-label">
                  发布任务人
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="task_user" name="task_user"
                  autocomplete="off" class="layui-input" value="admin" disabled>
              </div>
          </div>

          <div class="layui-form-item">
              <label class="layui-form-label">
              </label>
              <button  class="layui-btn">
                  提交
              </button>
          </div>
      </form>
    </div>
  </body>
  <script>
      window.onload = function () {
          var createEl = document.getElementById('task_create_time');
          var now = new Date();
          createEl.value =now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate() + ' ' + now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds();
      }
  </script>
</html>
